.class1 {
  background: linear-gradient(to bottom left, #fc2c77 20%, #6c4079 20%);
  height: -webkit-fill-available;
  box-sizing: inherit;
}
.class2 {
  width: 350px;
  margin: 0 auto;
  padding-top: 130px;
  text-align: center;
}

.class2 h3 {
  color: white;
}
.class2 input {
  box-sizing: border-box;
  margin: 3px auto;
  width: 65%;
  height: 35px;
  /* color:beige; */
}

.btnsubmit {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
